@model PasswordCreationModel
@{
    Layout = "AuthorizationLayout";
    ViewData["Title"] = "PasswordCreation";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Password recovery</h3></div>
                <div class="panel-body">
                    <form asp-action="CreatePasswordFormAction" asp-controller="Account">
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label><small>Login or Email</small></label>
                            <span asp-validation-for="Login" class="text-danger small"></span>
                            <input type="text" asp-for="Login" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label><small>New password</small></label>
                            <span asp-validation-for="Password" class="text-danger small"></span>
                            <input type="password" asp-for="Password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label><small>Confirm new password</small></label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                        </div>
                        <input id="CreatePasswordSubmit" type="submit" class="btn btn-primary form-control" name="CreatePasswordSubmit" value="Confirm password recovery" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

}

