@model PasswordRecoveryModel
@{
    Layout = "AuthorizationLayout";
    ViewData["Title"] = "PasswordRecovery";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><h3>Password recovery</h3></div>
                <div class="panel-body">
                    <form id="PasswordRecoveryForm" asp-action="PasswordRecoveryFormAction" asp-controller="Account">
                        <div class="form-group">
                            <label><small>Email</small></label>
                            <span asp-validation-for="Email" class="text-danger small"></span>
                            <input type="text" asp-for="Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input id="PasswordRecoveryButton" class="btn btn-primary form-control" type="submit" name="Confirm" value="Confirm" />
                        </div>
                        <br />
                        <p>Enter registered email address. You will get letter with farther information.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

}
