@{
    Layout = "_Layout";
    ViewData["Title"] = "AuthorizationLayout";
}

<nav class="navbar navbar-primary navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--     <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a> -->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="SignInLi"><a asp-area="" asp-controller="Account" asp-action="Login">Sign in</a></li>
                <li id="RegisterLi"><a asp-area="" asp-controller="Account" asp-action="Registration">Register</a></li>
                <li id="AboutLi"><a asp-area="" asp-controller="Account" asp-action="About">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2018 Dzuke</p>
    </footer>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
}


